{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{title}}
{% endblock %}

{% block body %}
<style>
    .title-input {
        max-width: 500px;
        width: 100%;
        height: 50px;
        font-size: 24px;
    }

    .content-textarea {
        max-width: 800px;
        width: 100%;
        height: 300px;
        font-size: 16px;
    }
</style>

<h1>Edit Page</h1>

<form action="{% url 'encyclopedia:save' %}" method="post">
    {% csrf_token %}
    <br><br>
    <label for="content"><h5>Edit the content of page:</h5></label>
    <br>
        <textarea id="content" name="content" class="content-textarea">{{ content }}</textarea>
    <br><br>
    <input type="submit" value="Save">
    <input type="hidden" name ="entry_title" value="{{title}}">
</form>

{% endblock %}
